<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
	
<head>
    <style>
        .p1{
            padding-top:0px;
        }
    </style>
<title>Trendy Login Forms in Flat Design :: w3layouts</title>
<link href="~/Content/style1.css" rel='stylesheet' type='text/css' />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	
 <!--start-main-->
    <p class="p1">.</p>
 	<div class="login-05">
		<div class="fifth-login">
			<h2>LOGIN</h2>
			<form class="five">
				<li>
					<input type="text" class="text" value="EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}" ><a href="#" class=" icon5 user2"></a>
				</li>
				<li class="blue">
					<input type="password" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}"><a href="#" class=" icon5 lock2"></a>
				</li>
				<div class="submit-five">
					<input type="submit" onclick="myFunction()" value="LOG IN" > 
				</div>
			</form>
		</div>
	</div>
	</p>
	<!--//End-login-form-->
	<!--start-copyright-->
   		
	<!--//end-copyright-->
		 		
</body>
</html>