<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <style>
        .p1 {
            padding-top:10px;
        }
        .adm {
            padding-top:10px;
        }
    </style>
</head>
<body class="main">
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <!--header ends-->
        <!--main starts-->
        <div id="main">
        	<!--fullwidth_banner starts-->
           @* <section class="fullwidth_banner">
            	<div class="container">
	            	<h1>Our Services</h1>
                </div>
            </section>
            <!--fullwidth_banner ends-->
            <!--primary starts-->
            <section id="primary" class="content-full-width">
                <!--container starts-->
                <div class="container">
                	<h2 class="dt-sc-hr-green-title">Course Overview</h2> 
                    
                    <!--dt-sc-one-half starts-->
                    <div class="dt-sc-one-half column first">
                        <div class="dt-sc-toggle-frame-set">
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion active"><a href="services.html#">Who We Are</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        Etori haum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est elige ndi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptasi ass umenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis.
                                    </div>
                            	</div>
                            </div>
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="services.html#">PROUD OF WHAT WE DO.</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. 
                                    </div>
                            	</div>
                            </div>
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="services.html#">HOW WE WORK</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at.
                                    </div>
                                </div>
                            </div>
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="services.html#">WHY WE DO IT</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at.
                                    </div>
                                </div>
                            </div>
                            <div class="dt-sc-toggle-frame">
                                <h5 class="dt-sc-toggle-accordion"><a href="services.html#">WHAT IS THE RESULT?</a></h5>
                                <div class="dt-sc-toggle-content">
                                    <div class="block">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at.
                                    </div>
                                </div>
                            </div>
                    	</div>
                    </div>
                    <!--dt-sc-one-half ends-->
                    
                    <!--dt-sc-one-half starts-->
                    <div class="column dt-sc-one-half">                  
                        <div class="dt-sc-toggle-frame-set course">
                            <h5 class="dt-sc-toggle-accordion active"><a href="services.html#">Who we are?</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                                </div>
                            </div>
                            <h5 class="dt-sc-toggle-accordion "><a href="services.html#">What we do in academics?</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                                </div>
                            </div>
                            <h5 class="dt-sc-toggle-accordion "><a href="services.html#">How do we work for strategic plans?</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                                </div>
                            </div>
                            <h5 class="dt-sc-toggle-accordion "><a href="services.html#">Our overall action towards target?</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                                </div>
                            </div>
                            <h5 class="dt-sc-toggle-accordion "><a href="services.html#">IThe outcome result of awesome performance?</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                                </div>
                            </div>
                            <h5 class="dt-sc-toggle-accordion "><a href="services.html#">What is the purpose of Registration?</a></h5>
                            <div class="dt-sc-toggle-content">
                                <div class="block">
                                    Consectetur adipiscing elit. Praesent pulvinar massa nec augue malsuada in aliquam odio interdum.
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!--dt-sc-one-half ends-->
                       
                </div>
                <!--container ends-->
                <div class="dt-sc-hr"></div>
                
                <!--fullwidth-background starts-->
                <section class="fullwidth-background dt-sc-parallax-section turquoise-bg">
                    <!--container starts-->
                    <div class="container">
                        <!--dt-sc-one-half starts-->
                        <div class="dt-sc-one-half column first">
                            <h2>What do we teach?</h2>
                            <!--dt-sc-one-half starts-->
                            <div class="dt-sc-one-half column first">
                                
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span> 1 </span> 
                                    </div>
                                    <h4><a href="services.html#" target="_blank"> Alternative Music </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span> 2 </span> 
                                    </div>
                                    <h4><a href="services.html#" target="_blank"> European Music </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span> 3 </span> 
                                    </div>
                                    <h4><a href="services.html#" target="_blank"> Swimming Camp </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                            
                            </div>
                            <!--dt-sc-one-half ends-->
                            
                            <!--dt-sc-one-half starts-->
                            <div class="dt-sc-one-half column">
                                
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span> 4 </span> 
                                    </div>
                                    <h4><a href="services.html#" target="_blank">  Classical Music </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span> 5 </span> 
                                    </div>
                                    <h4><a href="services.html#" target="_blank"> Asian Pop </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                                <div class="dt-sc-hr-very-small"></div>
                                <div class="dt-sc-ico-content type2">
                                    <div class="icon"> 
                                        <span> 6 </span> 
                                    </div>
                                    <h4><a href="services.html#" target="_blank"> Sing & Dance </a></h4>
                                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                                </div>
                            
                            </div>
                            <!--dt-sc-one-half ends-->
                        </div>
                        <!--dt-sc-one-half ends-->
                        
                        <!--dt-sc-one-half starts-->
                        <div class="dt-sc-one-half column">
                            <h2>How do we Teach?</h2>
                            <div class="add-slider-wrapper">
                                <ul class="add-slider">
                                    <li> <iframe src="38259685.htm" width="464" height="345"></iframe> </li>
                                    <li> <img src="~/Images/add2.jpg" alt="" title=""> </li>
                                    <li> <img src="~/Images/add1.jpg" alt="" title=""> </li>
                                </ul>
                            </div>
                        </div>
                        <!--dt-sc-one-half ends-->
                    </div>
                    <!--container ends-->
                </section>
                <!--fullwidth-background ends-->
                
                <div class="dt-sc-hr"></div>
                <!--container starts-->
                <div class="container">
                	<!--dt-sc-one-half starts-->
                    <div class="dt-sc-one-half column first">
                    	<h2>Upcoming Events</h2>  
                        <div class="events-list">
                            <div class="event-thumb">
                                <a href="services.html#" title="">
                                	<img src="~/Images/image8.jpg" class="" alt="" title="">
                                </a>
                            </div>
                            <div class="event-details">
                                <div class="event-meta">
                                	<span class="fa fa-calendar"> </span> 27 Jan 2014
                                </div>
                                <h2><a href="services.html#">Maecenas sed diam eget risus varius varius</a></h2>
                                <div class="event-excerpt">
                                    <p>Aenean lacinia sed diam eget risus varius ibendum nulla sed consectetur. Maecenas sed diam eget risus varius bla nditsed diam eget risus varius</p>
                                </div>
                            </div>
                        </div>
                        <div class="events-list">
                            <div class="event-thumb">
                                <a href="services.html#" title="">
                                	<img src="~/Images/image9.jpg" class="" alt="" title="">
                                </a>
                            </div>
                            <div class="event-details">
                                <div class="event-meta">
                                	<span class="fa fa-calendar"> </span> 28 Jan 2014
                                </div>
                                <h2><a href="services.html#">Aenean lacinia sed diam eget risus varius ibendum</a></h2>
                                <div class="event-excerpt">
                                    <p>Aenean lacinia sed diam eget risus varius ibendum nulla sed consectetur. Maecenas sed diam eget risus varius bla nditsed diam eget risus varius</p>
                                </div>
                            </div>
                        </div>
                        <div class="events-list">
                            <div class="event-thumb">
                                <a href="services.html#" title="">
                                	<img src="~/Images/image10.jpg" class="" alt="" title="">
                                </a>
                            </div>
                            <div class="event-details">
                                <div class="event-meta">
                                	<span class="fa fa-calendar"> </span> 29 Jan 2014
                                </div>
                                <h2><a href="services.html#">Multi Color Variation</a></h2>
                                <div class="event-excerpt">
                                    <p>Aenean lacinia sed diam eget risus varius ibendum nulla sed consectetur. Maecenas sed diam eget risus varius bla nditsed diam eget risus varius</p>
                                </div>
                            </div>
                        </div>
                    </div>      
                    <!--dt-sc-one-half ends-->
                    <!--dt-sc-one-half starts-->
                    <div class="dt-sc-one-half column">
                    	<h2>Music Gallery</h2>
                        <iframe width="572" height="120" src="player.html"></iframe>
                        <div class="dt-sc-hr-small"></div>
                        <iframe width="572" height="120" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/135808424&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        <div class="dt-sc-hr-small"></div>
                        <iframe width="572" height="120" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/2902567&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                    </div>      
                    <!--dt-sc-one-half ends--> 
                    <div class="dt-sc-hr-very-small"></div>  
                    <!--dt-sc-one-half starts-->
                    <div class="dt-sc-one-half column first">
                    	<h2>About Trainer</h2> 
                        <div class="author-details">
                        	<div class="author-thumb">
                                <img class="item-mask" src="~/Images/author-hexa-bg.png" alt="" title="">
                                <img src="~/Images/author.jpg" alt="" title="">
                            </div>
                            <div class="author-description">
                                <h5><a href="services.html">James Bond</a></h5>
                                <span class="author-role">Music Trainer, Specialist in  <a href="services.html#">Classical Music</a></span>
                                <a href="services.html#" class="students-count"><span class="fa fa-user"></span> 25 STUDENTS</a>
                                <div class="rating-review">
                                	<span class="author-rating rating-4"></span> <a href="services.html#">2 reviews</a>
                                </div>
                                <p>Phasellus lorem augue, vulputate vel orci id, ultricies aliquet risus. Sed cursus ipsum vitae justo scelerisque, ac viverra tellus eleifend. Etiam interdum justo nunc, ac volutpat erat elementum id. Fusce dapibus mauris ac dictum porta. Sed pretium luctus elementum. In sollicitudin felis semper purus imperdiet lobortis. In odio tellus, rhoncus eget dolor in, </p>
                        	</div>
                        </div>
                    </div>      
                    <!--dt-sc-one-half ends--> 
                    <!--dt-sc-one-half starts-->
                    <div class="dt-sc-one-half column"> 
                    	<h2>Student Reviews</h2>
                        <div class="dt-sc-testimonial-carousel-wrapper">
                            <ul class='dt-sc-testimonial-carousel'> 
                                <li>
                                    <div class='dt-sc-testimonial'>
                                    	<blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
                                        <div class='author'>
                                            <img src="~/Images/student1.jpg" alt="" title="">
                                        </div>
                                        <div class="author-meta">
                                        	<p> Rooney </p>
                                            <span>CEO &amp; Founder - Dhoom Inc</span>
                                            <span class="author-rating rating-4"></span>
                                    	</div>        
                                    </div>
                                </li>
                                <li>
                                    <div class='dt-sc-testimonial'>
                                    	<blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
                                        <div class='author'>
                                            <img src="~/Images/student1.jpg" alt="" title="">
                                        </div>
                                        <div class="author-meta">
                                        	<p> Rooney </p>
                                            <span>CEO &amp; Founder - Dhoom Inc</span>
                                            <span class="author-rating rating-4"></span>
                                    	</div>        
                                    </div>
                                </li>
                                <li>
                                    <div class='dt-sc-testimonial'>
                                    	<blockquote><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehiculaest, in consequat. Donec hendrerit vehicula est, in consequat. Donec hendrerit vehicula est, in consequat.</q></blockquote>
                                        <div class='author'>
                                            <img src="~/Images/student1.jpg" alt="" title="">
                                        </div>
                                        <div class="author-meta">
                                        	<p> Rooney </p>
                                            <span>CEO &amp; Founder - Dhoom Inc</span>
                                            <span class="author-rating rating-4"></span>
                                    	</div>        
                                    </div>
                                </li>
                            </ul>
                            <div class="carousel-arrows">	
                                <a href="services.html#" class="testimonial-prev"><span class="fa fa-angle-left"></span></a>	
                                <a href="services.html#" class="testimonial-next"><span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>      
                    <!--dt-sc-one-half ends--> 
                </div>
                <!--container ends-->
                <div class="dt-sc-hr"></div>  
                    <!--fullwidth-background starts-->
                    <section class="fullwidth-background turquoise-plain-bg">
                        <!--container starts-->
                        <div class="container"> 
                        	<h2 class="dt-sc-hr-white-title">Admission Form</h2> 
                            <form method="post" action="http://wedesignthemes.com/html/kidslife/php/admissionmail.php" id="admissionform" name="admissionform" class="admission-form">
                                <p class="dt-sc-one-third column first">
                                    <input id="name" name="txtname" type="text" placeholder="Name" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="age" name="txtage" type="text" placeholder="Age" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p>
                                	<textarea id="admission" name="txtmessage" placeholder="Message"></textarea>
                                </p>
                                <div id="ajax_admission_msg"> </div>
                                <p class="aligncenter">
                                    <input name="submit" type="submit" id="submit" value="Submit Form">
                                </p>
                            </form>
                        </div>
                        <!--container ends-->
                    </section>
                    <!--fullwidth-background ends--> 
            </section>
           *@ <!--primary ends-->
            <section class="fullwidth-background turquoise-plain-bg">
                        <!--container starts-->
                        <div class="container"> 
                        	<h2 class="dt-sc-hr-white-title">Admission Form</h2> 
                            <form method="post" action="http://wedesignthemes.com/html/kidslife/php/admissionmail.php" id="admissionform" name="admissionform" class="admission-form">
                                <p class="dt-sc-one-third column first">
                                    <input id="name" name="txtname" type="text" placeholder="Name" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="age" name="txtage" type="text" placeholder="Age" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="p1">.</p>
                                 <p class="dt-sc-one-third column first">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="p1">.</p>
                                <p >
                                	<textarea id="admission" name="txtmessage" placeholder="Message"></textarea>
                                </p>
                                <div  id="ajax_admission_msg"> </div>
                                <p class="aligncenter">
                                    <input name="submit" type="submit" id="submit" value="Submit Form">
                                </p>
                            </form>
                        </div>
                        <!--container ends-->
                    </section>
        </div>
        <!--main ends-->
        
        <!--footer starts-->
        <!--footer ends-->
        
    </div>
    <!--wrapper ends-->
    <a href="services.html" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
</body>
</html>
